* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Montserrat;
}

.graident-background {
  background-image: linear-gradient(to right bottom, rgb(81, 140, 173), rgb(43, 81, 112));
}

section {
  padding: 100px 50px 50px 50px;
}

.header {
  font-size: 50px !important;
  margin-bottom: 50px !important;
  text-align: center;
}

.subheader {
  font-size: 40px;
  margin: 0 50px 30px 50px;
}

/* HOME */
.home {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(to right bottom, rgba(81, 140, 173, 0.75), rgba(43, 81, 112, 0.75)), url("https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640__480.jpg");
  background-size: cover;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-header {
  font-size: 75px;
}

.logo {
  width: 100px;
}

/* INFO SECTIONS */
.what, .why {
  padding: 100px 100px 50px 100px;
}
.duo-grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 100px;
}

.description {
  font-size: 18.5px;
}

.big-logo {
  width: 60%;
}

img {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

/* SPEAKERS */
.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 100px;
}

.speaker {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.speaker-title {
  font-weight: 100%;
}

.speaker > * {
  color: black;
}

/* CONTACT US */
.contact-form {
  width: 50%;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 17.5px;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: white;
}

.form-submit {
  display: block;
  width: 100%;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 17.5px;
  transition: all .2s;
  color: white;
  text-decoration: none;
}

.form-submit:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
